@import url("https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&display=swap");

:root {
  --theme-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.9s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

.body-background {
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 120px; /* Adjust padding-top instead of margin-top to create space for the fixed header */
}

.section {
  padding: 2rem 9%;
}

.header {
  font-family: "Allura", cursive;
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: #ba8e8e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 3rem;
}

.header .logo span {
  color: #fff;
}

.header .navbar a {
  font-size: 2rem;
  color: #ffffff;
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--theme-color);
}

.form {
  background-color: #ffffff; /* Background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 100px auto; /* Adjust the margin to move the form down */
}
